* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

:root {
  --body-bg-color: #121214;
  --text-color: #e1e1e6;
  --title-color: #04d361;
  --form-color: #a8a8a8;
  --bg-button-color: #8257e5;

  --swiper-theme-color: #8257e5;
}

body {
  background: var(--body-bg-color);
  height: 100vh;
}

header {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}

header img {
  width: 15rem;
}

/* Cards */

.card {
  background: var(--text-color);

  width: 18rem;
  height: auto;

  margin-bottom: 2rem;
  border-radius: 0.5rem;
  padding: 2rem 4rem;
}

.card h3 {
  color: var(--bg-button-color);
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1.3rem;
}

.card p {
  color: var(--body-bg-color);
  font-size: 0.9rem;

  margin-bottom: 1.5rem;
}

.card a {
  text-decoration: none;
  color: var(--body-bg-color);
  text-transform: uppercase;
  font-weight: 600;

  background: var(--title-color);
  width: 2rem;
  height: 2rem;

  border-radius: 0.4rem;
  padding: 0.5rem;

  box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.1);
  transition: background 0.2s;
}

.card a:hover {
  background: #31df7f;
}

/* swiper */

.swiper {
  margin-top: 4rem;
  width: 50rem;
  height: 25rem;
}

.swiper-slide {
  height: auto;
  margin-left: 2rem;
  padding: 4rem 1rem;
}

/* BACK */
.back {
  margin-top: 5rem;
  text-align: center;
}

.back a {
  position: relative;
  cursor: pointer;

  color: var(--bg-button-color);
  text-decoration: none;

  font-weight: 700;
}

.back a::before {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--bg-button-color);

  position: absolute;
  top: 1.5rem;
  bottom: -1rem;
  transition: width 0.3s;
}

.back a:hover::before {
  width: 100%;
}

/* Task generator */

.content {
  width: 40rem;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 5rem auto;

  background: var(--text-color);
  border-radius: 0 0 1rem 1rem;
  padding: 1rem;
}

.task-text {
  margin-bottom: 1rem;
}

.task-text h3:first-child {
  display: inline;
  color: var(--text-color);
  text-transform: uppercase;
  background: var(--bg-button-color);
  position: relative;

  border-radius: 0.3rem;
  padding: 0.1rem 0.2rem;
  line-height: 2;
}

.task-text h3 {
  color: var(--bg-button-color);
}

.task-text p {
  color: var(--body-bg-color);
  font-size: 0.9rem;
  line-height: 1.5;
}

.task-btn {
  color: var(--body-bg-color);
  border: none;
  padding: 0.7rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;

  background: var(--title-color);
  border-radius: 1rem;

  transition: background 0.2s;
}

.task-btn:hover {
  background: #31df7f;
}

/* FRASE */

.phrase {
  color: var(--body-bg-color);
  font-weight: 700;
  display: flex;
}

/* MODAL */

.modal-overlay {
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.7);

  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;

  z-index: 3;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  background: #f0f2f5;
  padding: 2.4rem;

  position: relative;
  z-index: 1;
  border-radius: 1rem;
  text-align: center;
}

.modal h2 {
  color: var(--bg-button-color);
  margin-bottom: 1rem;
}

.close {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 4px;
  right: -3px;
}

.modal a {
  color: var(--body-bg-color);
  text-decoration: none;
  font-weight: 700;

  background: var(--title-color);
  padding: 0.5rem;
  border-radius: 2rem;
}

/* Media Queries */

@media (max-width: 802px) {
  .swiper {
    margin-top: 6rem;
    width: 100vw;
    height: 23rem;
  }

  .content {
    width: 90%;
  }
}

@media (max-width: 549px) {
  .container {
    margin-bottom: 9rem;
  }

  .card .text {
    max-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card p {
    visibility: hidden;
    opacity: 0;
    position: absolute;
  }

  .card a {
    text-align: center;
  }

  .swiper {
    margin-top: 6rem;
    width: 100vw;
    height: 23rem;
  }

  .swiper-slide {
    /* height: 0; */
    padding: 4rem 1rem;
  }

  .swiper-slide-next:last-child {
    visibility: hidden;
  }

  .content {
    width: 90%;
  }

  .modal {
    margin: 0 1rem;
  }
}
